@import "tailwindcss";

html {
  @apply bg-black text-white font-serif;
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .logo {
    --name: logo;

    @apply relative py-3 text-6xl flex flex-row justify-center select-none;

    view-transition-name: var(--name, logo);

    .logo__text {
      @apply font-serif pt-6;
    }

    .logo__kanji {
      @apply font-semibold;

      rt {
        @apply text-gray-400;
      }
    }

    .logo__link {
      @apply absolute inset-0;
    }
  }

  .logo--small {
    @apply text-4xl md:text-6xl mt-5;

    .logo__text {
      @apply pt-4 md:pt-6;
    }
  }

  .animated-circle {
    --name: animated-circle;

    view-transition-name: var(--name, animated-circle);
  }

  .navbar {
    --name: navbar;

    @apply flex flex-row items-center justify-between px-4 py-2 bg-black text-white;

    view-transition-name: var(--name, navbar);

    .navbar__item {
      @apply block relative text-white font-semibold text-lg pb-4;
    }

    .navbar__item.navbar__item--logo {
      @apply pb-0;
    }

    .navbar__item.navbar__item--small {
      @apply size-6;
    }
  }

  .button {
    @apply inline-flex flex-row items-center justify-center
    px-4 py-2
    text-white
    border border-white
    rounded-full
    transition-all ease-out duration-150
    hover:bg-white hover:text-black hover:scale-105
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white;
  }

  .button--round {
    @apply rounded-full p-2.5;
  }

  .button--loading {
    @apply animate-pulse select-none cursor-progress;
  }
}

@keyframes slide-to-top-from-out-of-view {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.turbo-progress-bar {
  background-color: white;
}

#exercises {
  view-transition-name: exercises;
}

html:not([data-same-page-visit])[data-turbo-visit-direction="forward"]::view-transition-new(exercises) {
  animation: 0.25s ease-out slide-to-top-from-out-of-view both;
}
