<div class="h-full flex flex-col justify-center gap-4">
  <h1 class="text-6xl flex flex-row justify-center select-none">
    <span class="font-serif pt-6">Simpl</span>
    <ruby class="font-semibold">æ¯<rt class="text-gray-400">iki</rt></ruby>
  </h1>

  <div class="flex justify-center">
    <%= circle_button %>
  </div>
</div>
